body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    color: #333;
}



header {
    background: #0f172a;
    color: white;
    padding: 30px 60px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-left {
    text-align: left;
    line-height: 1.8;
}

.profile-right {
    text-align: right;
}

.profile-right h1 {
    margin: 0;
    font-size: 42px;
}

.profile-right p {
    margin-top: 10px;
    font-size: 18px;
}



nav {
    background: #1e293b;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}



section {
    background: white;
    margin: 30px 60px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

section h2 {
    color: #0f172a;
    border-bottom: 3px solid #38bdf8;
    padding-bottom: 10px;
}



.education-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8fafc;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid #2563eb;
}

.edu-right {
    text-align: right;
    font-weight: bold;
}



.project-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #f8fafc;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.project-card img {
    width: 220px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.project-content {
    flex: 1;
}



ul li {
    margin-top: 10px;
    font-size: 17px;
}

/* Footer */

footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}


@media (max-width: 768px) {

    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .profile-right {
        text-align: center;
        margin-top: 20px;
    }

    .education-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .edu-right {
        text-align: left;
        margin-top: 15px;
    }

    .project-card {
        flex-direction: column;
    }

    .project-card img {
        width: 100%;
        height: auto;
    }

    section {
        margin: 20px;
    }
}